@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
  height: 100%; }

body {
  font-weight: 300;
  font-size: 15px;
  color: #333333;
  overflow: scroll;
  overflow-x: hidden; }

a {
  color: #f0f0f0;
  text-decoration: none; }
  a:hover {
    color: black; }

.main, header {
  color: #333333;
  font-weight: 300;
  line-height: 1.5;
  text-align: justify; }

header {
  position: fixed;
  z-index: 900; }

.wrapper {
  padding-left: 76px; }
  .wrapper .container {
    max-width: 100%;
    padding: 0;
    width: 100%;
    position: relative; }

.icon-drop:before, .icon-arrow-left:before {
  font-family: "fontawesome";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 2;
  text-align: center;
  color: #47a3da;
  -webkit-font-smoothing: antialiased;
  text-indent: 8000px;
  padding-left: 8px; }

a {
  color: #555555;
  text-decoration: none; }

.main > p {
  text-align: center;
  padding: 50px 20px; }

.btn {
  border-radius: 0; }

.page-header {
  background-image: -webkit-linear-gradient( #f9f9f9 0, #f3f3f3 100%);
  background-image: linear-gradient( #f9f9f9 0, #f3f3f3 100%);
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 0;
  margin: 0px 0 10px 0; }
  .page-header .content {
    padding: 0 20px; }
    .page-header .content h3 {
      display: inline-block;
      margin: 24px 0; }
      .page-header .content h3 i::after {
        content: " "; }
    .page-header .content button {
      margin-top: 20px; }
  .page-header span {
    font-weight: normal;
    font-size: 16px;
    color: #999999; }
    .page-header span:before {
      content: " "; }

.btn-more {
  background: #9e60b7;
  border-color: #67377a;
  color: white; }
  .btn-more:hover {
    color: #e6e6e6; }

.bar {
  background-image: -webkit-linear-gradient( #f9f9f9 0, #f3f3f3 100%);
  background-image: linear-gradient( #f9f9f9 0, #f3f3f3 100%);
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 0;
  margin-bottom: 10px; }

.og-expander input {
  background: #f3f3f3;
  border: 0px;
  border-radius: 0;
  font-size: 27px;
  height: 48px;
  color: #333333;
  text-align: center;
  border-bottom: 1px solid #dddddd;
  margin-top: 20px;
  box-shadow: none; }
  .og-expander input:focus {
    border-radius: 0;
    transition: none;
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0); }
.og-expander .btn-group button {
  width: 50%;
  font-size: 32px;
  padding: 20px;
  height: 120px;
  border-top: 0px; }
.og-expander .btn-group button:last-child {
  width: 50%; }

.overlay {
  padding: 40px 20px;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.96);
  z-index: 999;
  text-align: center;
  img-display: block;
  img-margin-top: 40px; }
  .overlay input {
    margin: 40px auto 0 auto;
    background: rgba(255, 255, 255, 0);
    border: 0px;
    border-radius: 0;
    font-size: 27px;
    height: 48px;
    color: #333333;
    text-align: center;
    border-bottom: 1px solid #dddddd;
    box-shadow: none; }
    .overlay input:focus {
      border-radius: 0;
      transition: none;
      border-bottom: 1px solid #c9a6d7;
      box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0); }
  .overlay button {
    display: block;
    margin: 20px auto;
    width: 100%;
    font-size: 32px;
    padding: 40px 0;
    border: 0px;
    border-bottom: 1px solid #dddddd;
    background: rgba(255, 255, 255, 0); }
    .overlay button:hover {
      background: #a971bf;
      color: white; }

.search input {
  position: relative;
  background: rgba(0, 0, 0, 0);
  border: 0px;
  border-radius: 0;
  box-shadow: none;
  font-size: 20px;
  width: 50%;
  left: 24.5%;
  margin: 10px 0 0 0;
  padding-top: 15px;
  border-bottom: 1px solid #efefef;
  text-align: center; }
  .search input:focus {
    background: rgba(0, 0, 0, 0);
    border-radius: 0;
    transition: none;
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0); }
